{% extends "main.jinja2" %}
{% block title %} - Viewing {{ album.display_name }} {% endblock %}
{% block content %}
    <div class="pycode_header">
        <h2 class="pycode_header_display_name">{{ album.display_name }}</h2>
        <p class="pycode_header_description">{{ album.description }}</p>
        {% if request.has_permission("group:admin") %}
            <p class="pycode_header_edit">
                <a href="{{ request.route_url("pycode_update_album",
                a_id=album.id) }}">
                    Edit Album
                </a>
            </p>
            <p class="pycode_header_upload">
                {{ code_upload | safe }}
            </p>
            <p class="pycode_header_create">
                <a href="{{ request.route_url("pycode_create_object",
                a_id=album.id) }}">
                    Create new code
                </a>
            </p>
        {%  endif %}
    </div>
    <table width="100%" border="0">
      <tr>
        <th>Files</th>
        <th>Code</th>
        <th>Result</th>
      </tr>
      <tr>
        <td width="200" style="text-align: center;">
            {% if album.objects.count() > 0 %}
                <a href="{{ request.route_url("pycode_show_2", a_id=album.id,
                    o_id=album.objects[0].id) }}">
                    {{ album.objects[0].display_name }}</a>
                    {% if request.has_permission("group:admin") %}
                        (<a href="{{ request.route_url("pycode_delete_object",
                        a_id=album.id, o_id=album.objects[0].id) }}">Delete</a>)
                    {% endif %}
            {% endif %}
        </td>
        <td rowspan="{{ album.objects.count() }}" style="vertical-align: top;" class="pycode_code_td">
            <div style="padding: 10px;" class="pycode_code_div">
            {% if object %}
                {% if request.has_permission("group:admin") %}
                    {{ form | safe }}
                {% else %}
                    <h3 class="pycode_code_display_name">{{ object
                    .display_name }}</h3>
                    <p class="pycode_code_code">
                   {{ highlight(object.code) | safe}}
                    </p>
                {% endif %}
            {%  endif %}
            </div>
        </td>
        <td rowspan="{{ album.objects.count() }}" style="vertical-align: top;" class="pycode_result_td">
            <div style="min-width:300px; padding: 10px;" class="pycode_result_div">
                {% if result %}<pre class="pycode_result_pre">{{ result }}</pre>{%  endif %}
                {% if exception %}<pre class="pycode_result_pre">{{ exception }}</pre>{%  endif %}
            </div>
        </td>
      </tr>
          {% for object in album.objects %}
          {% if not loop.first %}
              <tr>
                <td  width="200" style="text-align: center;" class="pycode_file_td">
                    <a href="{{ request.route_url("pycode_show_2",
                    a_id=album.id, o_id=object.id) }}">
                        {{ object.display_name }}</a>
                    {% if request.has_permission("group:admin") %}
                        (<a href="{{ request.route_url("pycode_delete_object",
                        a_id=album.id, o_id=object.id) }}">Delete</a>)
                    {% endif %}
                </td>
              </tr>
          {% endif %}
      {% endfor %}
    </table>

{% endblock content %}